<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicstore.awesome.dao.UmsAdminMapper">
    <resultMap id="BaseResultMap" type="com.musicstore.awesome.dto.UmsAdminParam">
        <result column="uui" jdbcType="VARCHAR" property="uuid" />
        <result column="name" jdbcType="VARCHAR" property="username" />
        <result column="role" jdbcType="VARCHAR" property="role" />
        <result column="is_active" jdbcType="TINYINT" property="isActive" />
        <result column="is_deleted" jdbcType="TINYINT" property="idDeleted" />
    </resultMap>
    <select id="getAdminById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM admin where uuid = #{uuid}
    </select>
</mapper>